<mat-toolbar color="primary" class="old-toolbar" [class]="showOldToolbar ? '' : 'hidden'">
    <div class="old-navbar">
        <p>Explorer</p>
        <button class="button button-primary" (click)="toggleOldToolbar()">Toggle old toolbar</button>
        <div id="buttons">

            <!-- All -->
            <button *ngIf="user && user.username === ''" color="accent" mat-raised-button [routerLink]="['login']">Login</button>
            <button color="primary" mat-raised-button [routerLink]="['home']">Home</button>
            <button *ngIf="user && user.username !== '' && user.role !== 'administrator'" color="primary" mat-raised-button [routerLink]="['profile']">Profile</button>
            <button *ngIf="user && user.username !== '' && user.role !== 'administrator'" color="primary" mat-raised-button [matMenuTriggerFor]="notificationsMenu">
              Notifications
              <span class="notification-badge" *ngIf="unreadNotificationsCount !== 0 ">{{unreadNotificationsCount}}</span>
            </button>

            <mat-menu #notificationsMenu="matMenu" class="my-menu">
              <span *ngIf="notifications.length !== 0" class="notification-box">
                <div *ngFor="let n of notifications">
                  <div class="cloud-container" (click)="redirect(n.actionURL)">
                    <mat-icon class="icon">notifications</mat-icon>
                    <span  class="content">
                    <p>{{ n.content }}</p>
                    <p class="date">{{ n.creationDateTime | date:'medium' }}</p>
                    </span>
                  </div>
                  <span class="notification-button" *ngIf="n.isRead === false"><button mat-raised-button color="primary" (click)="markAsRead(n)">Mark as Read</button></span>
                  <span class="notification-button"  *ngIf="n.isRead === true"><button  mat-raised-button color="accent" (click)="delete(n.id)">Delete</button></span>
                </div>
              </span>
              <div *ngIf="notifications.length === 0" class="no-notifications">There are no new notifications to display.</div>
            </mat-menu>

            <!-- Tourist -->
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['toursMarketplace']">Tours marketplace</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['touristSelectingEquipment']">Manage my equipment</button>
            <button *ngIf="user && user.role === 'tourist'"color = "primary" mat-raised-button [routerLink] = "['clubs']">See clubs</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tourPreference']">My preferences</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubInvitations']">Manage club invitations</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['appRatingTourist']">Rate App</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubJoinRequests']">My join requests</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['clubInvitations']">Manage club memberships</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['user/tourissues']">Report tour issues</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['blog']">Write blog</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['wallet']">Wallet</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['shopping-cart-overview']">Shopping cart</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tour-review']">Write tour review</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['my-position']">My position</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['active-tour']">Active tour</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['encounters-map']">Encounters</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['wishlist']">My wish list</button>



            <!-- Admin -->
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['users']">See all users</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['appRatingList']">See all app ratings</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['admin/tourissues']">See active tour issues</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['publicEntityRequests']">Manage public entity requests</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['encountersManagement']">Manage encounters</button>

            <!-- Author -->
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['tours-equipment']">Manage tour equipment</button>
            <button *ngIf="user && user.role === 'author'"color = "primary" mat-raised-button [routerLink]="['tours']">Tours</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['objects']">Tour Objects</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['appRatingAuthor']">Rate App</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['discounts-management']">Manage tour discounts</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['coupon-view']">Coupons</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['bundle-form']">Bundle</button>

            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['all-bundles']">All Bundles</button>

        </div>
    </div>
</mat-toolbar>


<mat-toolbar class='heading new-toolbar' role="heading" [class]="showOldToolbar ? 'hidden' : ''">
    <div class="left-menu">
        <a class="link-underline" [routerLink]="['toursMarketplace']">Tour Marketplace</a>
        <a class="link-underline" [routerLink]="['blog']">Blog</a>
    </div>
    <div class="logo" [routerLink]="['home']">
        <!-- <p>Tutours</p> -->
        <img src="assets/logo-v2.png" height="300">
    </div>
    <div class="right-menu">
        <span class="icon">
            <div *ngIf="user && user.username !== '' && user.role !== 'administrator'" class="notification-icon-container" [matMenuTriggerFor]="notificationsMenu">
                <span class="notification-badge" *ngIf="unreadNotificationsCount !== 0 ">{{unreadNotificationsCount}}</span>
                <mat-icon>notifications</mat-icon>
            </div>

            <mat-menu #notificationsMenu="matMenu" class="my-menu">
            <span *ngIf="notifications.length !== 0" class="notification-box">
                <div *ngFor="let n of notifications">
                <div class="cloud-container" (click)="redirect(n.actionURL)">
                    <mat-icon class="icon">notifications</mat-icon>
                    <span  class="content">
                    <p>{{ n.content }}</p>
                    <p class="date">{{ n.creationDateTime | date:'medium' }}</p>
                    </span>
                </div>
                <span class="notification-button" *ngIf="n.isRead === false"><button mat-raised-button color="primary" (click)="markAsRead(n)">Mark as Read</button></span>
                <span class="notification-button"  *ngIf="n.isRead === true"><button  mat-raised-button color="accent" (click)="delete(n.id)">Delete</button></span>
                </div>
            </span>
                <div *ngIf="notifications.length === 0" class="no-notifications">There are no new notifications to display.</div>
            </mat-menu>
        </span>

        <span class="icon" [routerLink]="user ? ['shopping-cart-overview'] : ['login']">
            <mat-icon>shopping_cart</mat-icon>
        </span>

      <span class="icon" [routerLink]="['login']" *ngIf="user && user.username === ''">
            <mat-icon>account_circle</mat-icon>
      </span>
      <span>
        <img [src]="profile?.profileImage" alt="Profile Picture" class="navbar-picture"  (click)="toggleMenu($event)" *ngIf="user && user.username !== ''">
      </span>
    </div>
</mat-toolbar>

<div class="sticky-footer" *ngIf="user && (user.role === 'tourist' || user.role === 'author')" [routerLink]="['appRatingTourist']">
    <span class="icon">
        <mat-icon>stars</mat-icon>
    </span>
    Rate App
</div>

<div #overlayContainer class="overlay-container" [class.open]="isOverlayOpen">
  <div class="overlay-content">
    <mat-icon class="close-icon" (click)="closeOverlay()">close</mat-icon>
    <div class="user-profile">
      <img [src]="profile?.profileImage"  alt="Profile Picture" class="profile-picture">
      <div class="user-info" *ngIf="user">
        <p><b>{{ user.username }}</b></p>
        <p style="font-weight:lighter">{{ profile.name }} {{ profile.surname }}</p>
      </div>
    </div>
    <div class="options">
      <div class="option">
        <!-- Tourist -->
        <div class="section-header" *ngIf="user && user.role === 'tourist'">
          <hr class="section-line">
          <span class="section-title">Profile</span>
          <hr class="section-line">
        </div>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['profile']">My profile</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['touristSelectingEquipment']">Manage my equipment</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['wallet']">Wallet</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['my-position']">My position</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['tourPreference']">My preferences</button>

        <div class="section-header" *ngIf="user && user.role === 'tourist'">
          <hr class="section-line">
          <span class="section-title">Clubs</span>
          <hr class="section-line">
        </div>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink] = "['clubs']">See clubs</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink] = "['clubs-ranking']">Club Ratings</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['clubInvitations']">Manage club invitations</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['clubJoinRequests']">My join requests</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['clubInvitations']">Manage club memberships</button>

        <div class="section-header" *ngIf="user && user.role === 'tourist'">
          <hr class="section-line">
          <span class="section-title">Tours</span>
          <hr class="section-line">
        </div>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['tour-review']">Write tour review</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['user/tourissues']">Report tour issues</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['active-tour']">Active tour</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button routerLink="/purchased-tours">Purchased Tours</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['encounters-map']">Encounters</button>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['wishlist']">My Wish List</button>
        <div class="section-header" *ngIf="user && user.role === 'tourist'">
          <hr class="section-line">
          <span class="section-title">Blog</span>
          <hr class="section-line">
        </div>
        <button *ngIf="user && user.role === 'tourist'" class="btn-option" mat-flat-button [routerLink]="['blog']">Write blog</button>
        <hr *ngIf="user && user.role === 'tourist'">

        <!-- Admin -->

        <div class="section-header" *ngIf="user && user.role === 'administrator'">
          <hr class="section-line">
          <span class="section-title">Overview</span>
          <hr class="section-line">
        </div>
        <button *ngIf="user && user.role === 'administrator'" class="btn-option" mat-flat-button [routerLink]="['users']">See all users</button>
        <button *ngIf="user && user.role === 'administrator'" class="btn-option" mat-flat-button [routerLink]="['appRatingList']">See all app ratings</button>
        <button *ngIf="user && user.role === 'administrator'" class="btn-option" mat-flat-button [routerLink]="['admin/tourissues']">See active tour issues</button>
        <div class="section-header" *ngIf="user && user.role === 'administrator'">
          <hr class="section-line">
          <span class="section-title">Management</span>
          <hr class="section-line">
        </div>
        <button *ngIf="user && user.role === 'administrator'" class="btn-option" mat-flat-button [routerLink]="['equipment']">Manage equipment</button>
        <button *ngIf="user && user.role === 'administrator'" class="btn-option" mat-flat-button [routerLink]="['publicEntityRequests']">Manage public entity requests</button>
        <button *ngIf="user && user.role === 'administrator'" class="btn-option" mat-flat-button [routerLink]="['encountersManagement']">Manage encounters</button>
        <hr *ngIf="user && user.role === 'administrator'">
        <!-- Author -->
        <div class="section-header" *ngIf="user && user.role === 'author'">
          <hr class="section-line">
          <span class="section-title">Tours</span>
          <hr class="section-line">
        </div>
        <button *ngIf="user && user.role === 'author'" class="btn-option" mat-flat-button [routerLink]="['tours-equipment']">Manage tour equipment</button>
        <button *ngIf="user && user.role === 'author'" class="btn-option" mat-flat-button [routerLink]="['tours']">Tours</button>
        <button *ngIf="user && user.role === 'author'" class="btn-option" mat-flat-button [routerLink]="['objects']">Tour Objects</button>
        <hr *ngIf="user && user.role === 'author'">
        <button *ngIf="user && user.username !== ''" class="btn-option" mat-flat-button (click)="onLogout()">Logout</button>
      </div>
    </div>
  </div>
</div>

