.back-panel {
    background-color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.cover {
    width: 100%;
    background-image: url('./../../../../assets/images/club-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.title-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 140px;
    padding: 0.5rem;
}

.profile-pic {
    background-color: white;
    margin-top: -70px;
    margin-left: 5%;
    width: 15%;
    height: 200px;
    border: 2px solid black;
}

.name-and-description {
    width: 45%;
    padding: 1rem;
    padding-top: 1.5rem;
}

.quick-actions-panel {
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.achievements-panel {
    width: 100%;
    /* height: 400px; */
    padding: 1rem;
    display: flex;
    text-align: center;
}

.other-panel {
    width: 100%;
    background: var(--color-accent-contrast);
    border-radius: 15px;
}

.tab-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    padding-bottom: 0;
}

.tab {
    border-radius: 15px;
    border-bottom: 15px;
    background-color: var(--color-accent-dark);
    color: var(--color-foreground);
    margin: 0;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.tab.active {
    background-color: var(--color-foreground);
    color: var(--color-accent-contrast);
}

.tab:hover:not(.active) {
    background-color: cornflowerblue;
    color: white;
}

.tab-selection {
    height: 500px;
    padding: 1%;
    background-color: var(--color-foreground);
    border-radius: 15px;
    margin: 5px 15px;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.quick-action-btn {
    width: 60%;
}

.achievements-inline {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
  
.achievements-inline li {
    margin: 10px
}

.achievement-img {
    max-width: 100%;
    height: 180px;
    width: 180px;
}

.achievement-text {
    margin-top: 133px;
    font-size: 24px;
    margin-top: 5px;
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
    transition: color 0.3s ease-in-out;
}

.achievement-item:hover .achievement-text {
    color: #E57373;
}