#page {
    display:flex;
    margin-top: 50px;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#createTourIssue {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

#tourslist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 950px;
    overflow: scroll;
    overflow-x: hidden;
    height: 450px;
    background-color: white;
    border-radius: 5px;
}

#formcontainer {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    width: 30%;
    height: 450px;
}

#tourissueform {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#tourissueslist {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    width: 1000px;
}

.tourtable {
    width: 900px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.tourissuetable {
    width: 950px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-family: sans-serif;
}

input {
    height: 30px;
    background-color: #f3f3f3;
    border-style: hidden;
    border-radius: 3px;
}

#buttonsAction {
    width: 50px;
    height: 35px;
    border-style: hidden;
    border-radius: 3px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonsPrimary {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    gap: 20px;
}

.mat-icon {
    vertical-align: middle;
}

.description {
    font-size: 22px;
    color: black;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
}

thead tr {
    background-color: #5989DF;
    color: white;
    text-align: center;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #DAEAF1;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #5989DF;
}

tbody tr.active-row {
    font-weight: bold;
    color: #d0b8ac;
}

.titleReport {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
}

button {
    width: 90px;
    height: 35px;
    border-style: hidden;
    border-radius: 3px;
    font-size: 16px;
}