.cont {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.cont h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  color: #333;
}

.cont label {
  margin-left: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map-container {
  margin-top: 10px;
  width: 1000px;
}
