<form [formGroup]="registrationForm" (ngSubmit)="register()">
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Profile Image</mat-label>
            <input matInput formControlName="profileImage" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Biography</mat-label>
            <input matInput formControlName="biography" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Quote</mat-label>
            <input matInput formControlName="quote" type="text"/>
        </mat-form-field>
    <button color="primary" type="submit" mat-raised-button>Register</button>
    </div>
</form>


