.tour {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.tours {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  width: 30px;
}

.add:hover {
  background-color: #5bd643;
}

.remove {
  width: 30px;
}

.remove:hover {
  background-color: crimson;
}

.btn-confirm {
  width: 20%;
  margin-top: 10px;
}

.btn-confirm:hover {
  background-color: #5bd643;
}
