<footer>
    <div class="first-footer-row">
        <div class="bottom-panel bottom-panel--slogan">
            <h3>Explore the World, Collect Experiences: Tutours - Your Gateway to Fun-Filled Journeys!</h3>
        </div>
        <div class="bottom-panel">
            <h2>Contact Us</h2>
            <p class="p-footer">Email:<a class="link-underline link-underline--light" href="mailto:info@tourme.app"> info&#64;tourme.app</a></p>
            <p class="p-footer">Phone: +1 (123) 456-7890</p>
            <p class="p-footer">Address: 123 Main Street, Anytown, USA</p>
        </div>
        <div class="bottom-panel">
            <h2>Support</h2>
            <p class="p-footer">Support: For technical support or inquiries, please email
                <a class="link-underline link-underline--light" href="mailto:support@tourme.app">support&#64;tutours.app</a>.
            </p>
            <p class="p-footer">Business Inquiries: For business partnerships and collaborations, please contact
                <a class="link-underline link-underline--light" href="mailto:partnerships@tourme.app">partnerships&#64;tutours.app</a>.
            </p>
        </div>
        <div class="bottom-panel bottom-panel--newsletter">
            <h2>Subsribe to our newsletter!</h2>
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email"/>
                </mat-form-field>
                <button class="button button-secondary">Subsribe</button>
            </form>
            <p class="p-footer linkListTitle">Follow us on:</p>
            <ul class="linkList">
                <div class="social-icon">
                    <a href="https://www.facebook.com/TourMeApp" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://twitter.com/TourMeApp" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://www.instagram.com/tourmeapp" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </ul>
        </div>
    </div>
    <div class="second-footer-row">
        <p>&copy; 2023 Tutours. All rights reserved.</p>
    </div>
</footer>