.main{
    width: 100%;
    min-height: 20%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #DAEAF1;
}

.comment{
    width: 95%;
    min-height: 140px;
    height: 140px;
    margin-left: 2.5%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.comment-header{
    display: flex;
    align-content: baseline;
    min-height: 25%;
    height: 25%;
    border-radius: 10px 10px 0px 0px;
    background-color: #F3EEEA;
    border-top: 2px solid #5989DF;
}

.comment-body{
    min-height: 75%;
    height: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F3EEEA;
    border-bottom: 1px solid #5989DF;
    border-radius: 0px 0px 10px 10px;
}

.p-comment-header{
    padding-left: 3%;
    padding-top: 1%;
    font-size: 1.5vw;
    font-weight: 500;
}

.p-comment-body{
    padding: 2.5%;
    font-size: 20px;
}