.cont{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

.somediv {
    width: 400px;
    display:flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5rem;
}

.mat-icon {
    vertical-align: middle;
}

.tag-list {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: lightblue;
    padding: 5px;
    border-radius: 2px;
    min-width: 50px;
    text-align: center;
}

.green{
    background-color: green;
}

.yellow{
    background-color: darkgoldenrod;
}