<form [formGroup] = "clubForm">
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type = "text" formControlName = "name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Image</mat-label>
            <input matInput type = "text" formControlName = "image">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            formControlName="description"
            cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
          <button *ngIf="!shouldEdit" mat-raised-button type="submit" color ="primary" (click)="addClub()">Done</button>
          <button *ngIf="shouldEdit"  mat-raised-button type="submit" color="primary"  (click)="updateClub()">Done</button>
    </div>

</form>