.main{
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 1%;
}

.mat-icon {
    vertical-align: middle;
}
