<div class="main">
        <mat-stepper *ngIf="creationMode"  [linear]="true" class="stepper-container" #stepper>
            <mat-step [stepControl]="titleForm">
                <form [formGroup]="titleForm" class="stepper-form">
                    <ng-template matStepLabel>What's your blog's name?</ng-template>
                    <mat-form-field style="width: 70%;">
                        <mat-label>Title</mat-label>
                        <input matInput type="text" formControlName="title">
                    </mat-form-field>
                    <div>
                        <button mat-flat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="descriptionForm">
                <form [formGroup]="descriptionForm" class="stepper-form">
                    <ng-template matStepLabel>What's your blog about?</ng-template>
                    <mat-form-field style="width: 70%;">
                        <mat-label>Description</mat-label>
                        <textarea matInput cdkTextareaAutosize
                        cdkAutosizeMinRows="5"
                        formControlName="description"
                        cdkAutosizeMaxRows="15">
                        </textarea>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-flat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="imageLinksForm">
                <form [formGroup]="imageLinksForm" class="stepper-form">
                    <ng-template matStepLabel>Upload images</ng-template>
                    <mat-form-field style="width: 70%;">
                        <mat-label>Image links:</mat-label>
                        <textarea matInput cdkTextareaAutosize
                        cdkAutosizeMinRows="5"
                        formControlName="imageLinks"
                        cdkAutosizeMaxRows="10"></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button color="primary" type="submit" (click)="addBlog()" mat-raised-button>Create</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>

    <form *ngIf="!creationMode" [formGroup]="blogForm" class="form-container">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            formControlName="description"
            cdkAutosizeMaxRows="15"
            formControlName="description">
            </textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" matInput> 
                <mat-option value="DRAFT">Draft</mat-option>
                <mat-option value="PUBLISHED">Published</mat-option>
                <mat-option value="CLOSED">Closed</mat-option>
            </mat-select>       
        </mat-form-field>

        <mat-form-field>
            <mat-label>Image links:</mat-label>
            <textarea matInput cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            formControlName="imageLinks"
            cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" matInput> 
                <mat-option value="DRAFT">Draft</mat-option>
                <mat-option value="PUBLISHED">Published</mat-option>
                <mat-option value="CLOSED">Closed</mat-option>
            </mat-select>       
        </mat-form-field>

        <mat-table id="equipment-list" [dataSource]="allEquipment" *ngIf="tourProgress">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="masterToggle()"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (change)="toggleCheckbox(row)" [checked]="selection.isSelected(row)"></mat-checkbox>
                </td>
              </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
            
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    </form>
</div>