<div class="somediv">
  <h2>Name: {{order.tourName}}</h2>
  <p><strong>Description:</strong> {{order.tourDescription}}</p>
  <p><strong>Price:</strong>
    <span *ngIf="isOnDiscount(order); else regularPrice">
            <s>AC{{order.tourPrice}}</s> AC{{calculateNewPrice(order)}} ({{getDiscountPercentage(order)}}% off)
        </span>
    <ng-template #regularPrice>AC{{order.tourPrice}}</ng-template>
  </p>
  <td><button color="accent" mat-raised-button (click)="Delete(order)">Remove</button></td>
</div>
