<div id="toursList" *ngIf="!shouldEdit">
    <p>From the table below, choose one tour to write a review.</p>
    <table>
        <thead>
            <tr>
                <th style="width: 100px;">Choose</th>
                <th style="width: 100px;">Name</th>
                <th style="width: 200px;">Description</th>
                <th style="width: 100px;">Price</th>
                <th style="width: 100px;">Transport type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let t of tours">
                <td>
                    <input type="radio" name="tour" style="height: 20px; width: 20px;" (click)="radioClicked(t)">
                </td>
                <td>{{t.name}}</td>
                <td>{{t.description}}</td>

                <td>{{t.price}}</td>
                <td>
                    <i *ngIf="t.transportType == 'WALK'" class="fa-solid fa-person-walking fa-2xl" style="color: #000000;"></i>
                    <i *ngIf="t.transportType == 'BIKE'" class="fa-solid fa-bicycle fa-2xl" style="color: #000000;"></i>
                    <i *ngIf="t.transportType == 'CAR'" class="fa-solid fa-car-side fa-2xl" style="color: #000000;"></i>
                    <i *ngIf="t.transportType == 'BOAT'" class="fa-solid fa-sailboat fa-2xl" style="color: #000000;"></i>
                </td>
                
            </tr>
        </tbody>
    </table> 
</div>
<br><br>
<form [formGroup]="tourReviewForm">
    <div id="tourReviewForm">
        <mat-form-field>
            <mat-label>Rating</mat-label>
            <input matInput formControlName="rating" type="number" min="1" max="5"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            formControlName="comment"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Visit date</mat-label>
            <input matInput formControlName="visitDate" type="date"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Images</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            formControlName="imageLinks"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <button id="buttons" *ngIf="!shouldEdit" mat-raised-button type="submit" color="primary" (click)="addTourReview()"> Create tour review</button>
        <button id="buttons" *ngIf="shouldEdit" mat-raised-button type="submit" color="primary" (click)="updateTourReview()"> Update tour review</button>
    </div>
</form>
