body {
  font-family: Arial, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

form {
  width: 350px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 8px #aaa;
  border-radius: 15px;
}

mat-form-field {
  display: block;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.custom-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%; 
  background-color: var(--color-accent-dark);
}

.custom-button:hover {
  background-color: #4f7ea8;
}
p {
  text-align: center;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fields {
  margin: 10px;
}