.rating-container {
  margin: 0 auto;
  padding-top: var(--content-top-padding);
}

form {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

div {
  width: 400px;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 10px;
}
